2. preprocessing/mystem_lemma/mystem.exe
3. word2vec/model.bin
3. word2vec/one_test/mystem.exe
3. word2vec/test/mystem.exe
3. tfidf_processing/tfidf.pickle
3. tfidf_processing/tfidf_matrix.pickle
4. web_app/tfidf_matrix.pickle
4. web_app/tfidf.pickle
