2. preprocessing/mystem_lemma/mystem.exe
2. preprocessing/mystem_lemma/film_plots_lemma_correct.txt
3. word2vec/model.bin
3. word2vec/one_test/mystem.exe
3. word2vec/test/mystem.exe
3. fasttext/model.model
3. fasttext/model.model.vectors.npy
3. fasttext/model.model.vectors_ngrams.npy
3. fasttext/model.model.vectors_vocab.npy
3. tfidf/tfidf.pickle
3. tfidf/tfidf_matrix.pickle
3. COMPARISON/output
3. COMPARISON/ruwikiruscorpora_upos_cbow_300_10_2021
3. COMPARISON/tayga_none_fasttextcbow_300_10_2019
3. COMPARISON/universal-sentence-encoder-multilingual-large_3.tar
3. COMPARISON/universal-sentence-encoder-multilingual-large_3
4. web_app/tfidf_matrix.pickle
4. web_app/tfidf.pickle
.idea